@font-face {
    font-family: 'RobotoR';
    src: url('/grid-landing/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoM';
    src: url('/grid-landing/fonts/Roboto-Medium.ttf');
}

:root {
    --brandColor: rgb(52, 84, 122);
    --brandColor-hover: rgb(60, 96, 139);
    --altColor: rgb(114, 114, 114);
    --h1TitleSize: 48px;
    --h2TitleSize: 32px;
    --bodyTitleSize: 16px;
    --mainWrapper-Width: 1110px;
    --robotoR: 'RobotoR';
    --robotoM: 'RobotoM';
    --padding: 0 24px;
}






h1,
h2 {
    font-family: var(--robotoM);
}

h1 {
    font-size: var(--h1TitleSize);
}

h2 {
    font-size: var(--h2TitleSize);
}

h5 {
    font-size: 21px;
}

section {
    font-size: var(--bodyTitleSize);
    color: var(--altColor);
    line-height: 24px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: var(--robotoR);
    background-color: rgb(249, 249, 249);
    overflow: hidden;
}

header {
    width: 100%;
    display: grid;
    place-items: center center;
    padding: 30px 0;
    position: fixed;
    background-color: rgb(238, 239, 241);
}

.menu__wrapper {
    width: var(--mainWrapper-Width);
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: start;
    gap: 42px;
}

.menu a:hover {
    color: var(--brandColor-hover);
}

.menu__burger__wrapper {
    display: none;
    padding: var(--padding);

}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    background-color: rgba(255, 255, 255, 0.158);
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
    background-color: rgba(255, 255, 255, 0.158);
}

.menu-list {
    font-family: var(--robotoM);
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    padding: 42px 0;
    margin: 0;
    background: var(--brandColor);
    transform: translateX(-100%);
    transition: .3s;
    width: 100%;
    height: 100vh;
}

.menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255, 255, 255, .2)
}

.burger-checkbox:checked~.menu-list {
    transform: translateX(0);
}

.main__title {
    background-color: rgb(238, 239, 241);
    width: 100%;
    height: 700px;
    display: grid;
    justify-items: center;
}

.main__title__wrapper {
    width: var(--mainWrapper-Width);
    padding-top: 258px;
}

.main__title h1 {
    margin-bottom: 60px;
}

.main__title section {
    width: 540px;
    margin-bottom: 65px;
}

.main__title button {
    padding: 18px 40px;
    border: none;
    background-color: var(--brandColor);
    color: white;
    cursor: pointer;
}

.main__title button:hover {
    background-color: var(--brandColor-hover);
}

.about__title {
    display: grid;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about__title__wrapper {
    display: grid;
    justify-items: center;
    width: var(--mainWrapper-Width);
}

.about__title h2 {
    margin-bottom: 50px;
    text-align: center;
}

.about__title section {
    width: 540px;
    text-align: center;
}

.portfolio {
    display: grid;
    justify-items: center;
    background-color: var(--brandColor);
    padding: 100px 0;
    width: 100%;
    justify-content: space-around;
}

.portfolio__wrapper {
    width: var(--mainWrapper-Width);
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.work__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    align-items: center;
}

.work__card h5 {
    color: white;
}

.work__card section {
    color: white;
}

.work__card__icon {
    background-image: url(/grid-landing/img/project.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.service__title {
    display: grid;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 60px;

}

.service__title__wrapper {
    display: grid;
    justify-items: center;

}

.service__title h2 {
    margin-bottom: 50px;
    text-align: center;
}

.service__title section {
    margin-bottom: 50px;
    text-align: center;
    width: 540px;
}

.demo__video {
    background-image: url(/grid-landing/img/demo.png);
    background-repeat: no-repeat;
    display: grid;
    justify-self: center;
    width: 1110px;
    height: 600px;
    margin-bottom: 100px;
}

.demo__video__icon {
    background-image: url(/grid-landing/img/play-button.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    display: grid;
    place-self: center;
}

footer {
    width: 100%;
    background-color: var(--brandColor);
    color: white;
    display: grid;
    justify-self: center;
}

.footer__wrapper {
    width: var(--mainWrapper-Width);
    display: grid;
    justify-self: center;
    padding: 50px 0;
}

.footer__author {
    margin-bottom: 20px;
    font-family: var(--robotoM);
    font-size: 21px;
}

.footer__protection {
    font-size: 14px;
}






@media (max-width: 1110px) {

    :root {
        --mainWrapper-Width: 100%;
        --h1TitleSize: 3rem;
        --h2TitleSize: 32px;
        --bodyTitleSize: 1rem;
    }

    .demo__video {
        width: calc(1110px*0.7);
        height: calc(600px*0.7);
    }

    .portfolio__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        justify-content: space-between;
    }

    .footer__author {
        padding-left: 24px;
    }

    .footer__protection {
        padding-left: 24px;
    }
}





@media (max-width: 1024px) {

    :root {
        --h1TitleSize: 4rem;
        --h2TitleSize: 3rem;
        --bodyTitleSize: 1.2rem;
    }

    header {
        place-items: start;
    }

    section {
        line-height: 1.9rem;
    }

    .main__title__wrapper {
        width: 80%;
    }

    .menu__burger__wrapper {
        display: block;
    }

    .menu-item {
        font-size: 3rem;
    }

    .menu__wrapper {
        display: none;
    }

    .portfolio__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .demo__video {
        width: calc(1110px*0.7);
        height: calc(600px*0.7);
    }

}


@media (max-width: 768px) {

    .main__title {
        height: 90vh;
    }

    .demo__video {
        width: calc(1110px*0.5);
        height: calc(600px*0.5);
    }

    .portfolio__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .menu-item {
        font-size: 2rem;
    }

    .main__title section {
        width: 80%;
    }

    .about__title section {
        width: 80%;
    }

}


@media (max-width: 480px) {

    :root {
        --h1TitleSize: 2.2rem;
        --h2TitleSize: 32px;
        --bodyTitleSize: 1rem;
    }

    .main__title {
        height: 70vh;
        width: 89%;
        padding: var(--padding);
        align-items: center;
    }

    .main__title__wrapper {
        padding: var(--padding);
        width: 100%;
        padding: 0;
    }

    .portfolio {
        padding: 100px 0;
        width: 100%;
    }

    .portfolio__wrapper {
        grid-template-columns: 1fr;
        gap: 70px;
    }

    .work__card {
        justify-self: center;
    }

    .service__title section {
        width: 80%;
    }

    .demo__video {
        width: calc(1110px*0.36);
        height: calc(600px*0.36);
    }

    .footer__wrapper {
        width: 100%;
    }
}

@media (max-width: 376px){

    .main__title {
        height: 90vh;
        
    }

    .demo__video {
        width: calc(1110px*0.3);
        height: calc(600px*0.3);
    }
}


